@{
}

@model List<Schedules>
<h2>Your Appointments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model)
        {
            <tr>
                <td class="text-left">@i.StartDate</td>

                <td class="text-left">@i.StartTime</td>

                <td class="text-left">@i.GroupName</td>

                <td class="text-left">@i.GroupSize</td>

                <td class="text-left">@i.GroupEmail</td>

                <td class="text-left">@i.GroupPhone</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@i.ScheduleId">Edit</a></td>

                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@i.ScheduleId">Delete</a></td>
            </tr>
        }

    </tbody>
</table>


