@model Project2.Models.Basket
@*@model List<Basket>*@

@{
}
<h2>Your Appointments</h2>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Start Date</th>
            <th>Start Time</th>
            <th>Group Name</th>
            <th>Group Size</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var i in Model.Items)
        {
            <tr>
                <td class="text-left">@i.Schedule.StartDate</td>

                <td class="text-left">@i.Schedule.StartTime</td>

                <td class="text-left">@i.Schedule.GroupName</td>

                <td class="text-left">@i.Schedule.GroupSize</td>

                <td class="text-left">@i.Schedule.GroupEmail</td>

                <td class="text-left">@i.Schedule.GroupPhone</td>

                <td><a asp-controller="Home" asp-action="Edit" asp-route-taskid="@i.Schedule.ScheduleId">Edit</a></td>

                <td><a asp-controller="Home" asp-action="Delete" asp-route-taskid="@i.Schedule.ScheduleId">Delete</a></td>
            </tr>
        }

    </tbody>
</table>


